@import "variables_mixins";

#header_one-blocks {
  height:90px;
  margin: 27px auto 35px auto;
  color: $logo-blue;

  #header-address {
    float: right;
    text-align: right;
    font-size: 15px;
  }

  #header-slogan {
    margin-top:20px;
    float: right;
    text-align: center;
    font-size: 24px;
  }

}
