body {
  color: #929487;
  background: #F4F5ED;
  -webkit-font-smoothing: antialiased;
}

#header_one-blocks-wrapper {
  background:#DC4E00;
  border-bottom: 5px solid #C44500;
  box-shadow: 0 0 5px rgba(0,0,0,0.25);
}

#tree .menu-item {
  padding: 20px;

  a {
    color: #fff;
  }
}
