#slider-blocks {
  background: black;
  height: 375px;

  #slider {
    img { 
      border: 7px solid #fff;
      display:block;
      margin: 0 auto;
    }
  }

  [id*="callout"] {
    font-size: 14px;
    font-weight: 300;
    background: #fff;
    height:171px;
    margin: 0px auto 17px;
    box-sizing: border-box;
    padding: 10px;
    line-height: 125%;
  }
}
