- title "Test Model Ugh"

.item

  .ui-widget.ui-helper-clearfix{:style => "float:right"}
    =link_to '', edit_test_model_ugh_path(@test_model_ugh), :class => 'ui-icon ui-icon-pencil edit tip', :title => "Edit This Item"
    =link_to "", @test_model_ugh, :confirm => 'Are you sure?', :method => :delete, :class => 'ui-icon ui-icon-close destroy tip', :title => "Destroy This Item"

  %h3= link_to @test_model_ugh.name, @test_model_ugh
  %p
    = link_to "Preview Test Model Ugh", @test_model_ugh, :class => 'remote_iframe'

  %p
    %strong Name:
    = @test_model_ugh.name

