.ui-sortable {
  list-style: none;
  margin-bottom: 0;

  & > li {
    margin: 0;

    .handle {
      width: 22px;
      display: block;
      float: left;
      background: url(/assets/admin/ui/handle.png) no-repeat;
      padding-right: 33px;
      cursor: move;
    }
  }
}
