- title "Test Model Ughs"

= will_paginate @test_model_ughs

- @test_model_ughs.each do |test_model_ugh|
  .item
    %h3= link_to test_model_ugh.name, view_test_model_ugh_path(test_model_ugh.name)

= will_paginate @test_model_ughs
