$('#fancybox-inner').html("#{escape_javascript(render(:partial => "users/user", :locals => {:user => @user}))}");
$('#show_user').html("#{escape_javascript(render(:partial => "users/user", :locals => {:user => @user}))}");
$('#user_list').html("#{escape_javascript(render(:partial => "users/list", :locals => {:user => @user}))}");

$("#status").html("Success, Your settings have been saved");
$('#status').fadeIn().delay(2000).slideUp('slow', function () {
$.fancybox.hideActivity();
});

$("#fancybox-inner").fadeTo("fast", 1);
$.fancybox.resize("fast");
