
$('.settings-nav').html("#{escape_javascript(render(:partial => "layouts/cms_partials/nav", :locals => {:cms_menu_items => @cms_menu_items}))}");
$('.settings-nav .item.link a').animate({opacity: 0.125}, 1000)


