= raw(block.body)
- @tweets = Tweet.recent(2)
    
.posts.recent
  - @tweets.each do |tweet|
    .post.clearfix
      .photo
        = link_to image_tag(tweet.user.profile_image_url_https(:bigger), title: tweet.user.name), "#"
      .main
        .content
          = raw Rinku.auto_link(tweet.text, :all, 'target="_blank"') 
          = tweet.profile_image_url_https
.latest-newsletter
  .inner
    %h3 Latest Newsletter