= raw(block.body)
%a.twitter-timeline{"data-widget-id" => "274246303687524352", :href => "https://twitter.com/imgmgmt"} Tweets by @imgmgmt
:javascript
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");