#searchbox
  = form_tag letter_report_orders_path, :method => 'get' do
    = text_field_tag :search, params[:search], :class => "input-text", :placeholder => 'Search Letter_report_orders'
    = image_submit_tag "admin/blank.png", :class => "image-submit"

