- @posts = Post.recent

= raw(block.body)
.posts.recent
  - @posts.each do |post|
    .post.clearfix
      .photo
        = link_to image_tag(post.image.url(:thumb), title: post.title), "#"
      .main
        %h3.title= link_to post.title, "#"
        - #.published-at= post.published_at.strftime("%y-%m-%d %l:%M %p")
        .content
          = raw truncate(strip_tags(post.content), separator: " ", length: 98)