#nav
  %ul#tree
    - @application_menu_items.each do |item|
      = render 'layouts/app_partials/application_tree', :root => item
  - if permitted_to? :manage, :menu
    .edit-link
      = link_to edit_icon("Menu"), "/dust/menu-manage", :class => "to-admin"
