- @testimonials = Testimonial.sorted_for_presentation
- order_flipped = false

#testimonials
  = raw(block.front_end_content)
  - @testimonials.in_groups_of(2) do |testimonial_group|
    .container-twelve.testimonial-row
      - if testimonial_group.last # if second testimonial is not nil
        - testimonial_group.reverse! if order_flipped
        - #order_flipped = !order_flipped
        - testimonial_group.each do |testimonial|
          .six.columns
            = render "testimonials/testimonial", testimonial: testimonial
      - else
        .twelve.columns
          = render "testimonials/testimonial", testimonial: testimonial_group[0]