- if permitted_to? :manage, :pages
  #user_nav.logged_in
    = link_to "Dashboard", dashboard_path
    |
    \#{link_to "Edit Profile", edit_user_path(current_user.id)} 
    |
    \#{link_to "Logout", logout_path}
- else
  #user_nav.logged_out
    = link_to "Login", admin_login_path
