= content_tag :li, :id => dom_id(root), :class => 'index-item' do
  %div
    %span.handle &nbsp;
    = link_to root.title, root.url
  = content_tag :ul do
    - for child in root.children do
      = render :partial => "dust/menu_items/tree", :locals => {:root => child }
  - end unless root.leaf?
