- title "Menu Management"

.sub-header
  .button-bar.clearfix
    = render 'search'
    .admin-links
      = link_to('save menu order', '', :id => 'ordernav', :class => 'order', :title => "Save Menu Order")

.content-wrapper
  = render 'roots'
