-# render in application layout
- title @page.meta_title
- description @page.create_description

- @page.sections.sort_by!{|s| s.position }.each do |section|
  = render_region section.classes
= render_region "content-one"
= render_region "content-two"
= render_region "content-three"

